<h1 class="text-danger">public/index.html.erb</h1>
<%= link_to "Current Account Profile", profile_path(current_account.username) %>
<%= link_to "First Account Profile", profile_path(Account.first.username) %>
<%= link_to "Last Account Profile", profile_path(Account.last.username) %><br>
<%= link_to "First Community Posts", community_posts_path(Community.first) %><br>
<%= link_to "Lasst Community Posts", community_posts_path(Community.last) %><br>
<%= link_to "Edit post", edit_community_post_path(Community.first, Community.first.posts.first) %><br>

<%= link_to "Create New Post", new_community_post_path(Community.first) %><br>
<%= link_to "Show Post", community_post_path(1, 3) %><br>

# TODO:
# <%= link_to "SHow post by title", community_post_path(1, 3) %><br>
# 1. make a route for new method
# 2. make a new method in PostsController
# 3. make a view for the method

  <% unless signed_in? %>
    <div class="row">
      <div class="col">
        <p class="h4">Trending Today</p>
      </div>
    </div>

    <div class="row"> 
      <div class="col-sm-3">
        Trending 1
      </div>
      <div class="col-sm-3">
        Trending 2
      </div>
      <div class="col-sm-3">
        Trending 3
      </div>
      <div class="col-sm-3">
        Trending 4
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <p class="h4">Popular Posts</p>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <%= render partial: "posts/list", locals: {posts: @posts} %>
    </div>
    <div class="col-4">
      <p class="h5">up and coming communities</h5>
      <ul class="list-group">
        <% @communities.each do |community| %>
          <li class="list-group-item"><%= link_to community.name, community_path(community) %></li>
        <% end %>
      </ul>

      <%= link_to "View all", communities_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>